<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form align="center">
    <div class="field">
        <input type="password" placeholder="password" id="password"/>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" id="submit" />
    </div>
    </form>
    <script>
        document
            .getElementById('submit')
            .addEventListener('click', function (e) {
                e.preventDefault();
                const password = document.getElementById('password').value;
                console.log(password);
                fetch('/api/formchangepass/:id', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        password,
                    }),
                })
                    .then((data) => data.json())
                    .then((data) => console.log(data))
                    .catch((err) => console.log(err));
            });
    </script>
</body>

</html>